---
import TheFooter from '../components/TheFooter.astro'
import TheHeader from '../components/TheHeader.astro'

type Props = {
  title: string
  description?: string
  schema?: Record<string, unknown>
}
const { isDev, PUBLIC_GOOGLE_ANALYTICS_ID: googleAnalyticsId } = import.meta.env

const { title, description, schema } = Astro.props
---

<html class='h-full scroll-smooth scroll-p-[4.5rem]' lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:image' content={`${Astro.site}images/banner.png`} />
    <meta name='twitter:card' content='summary_large_image' />
    <link
      href='/css/fonts.css'
      rel='preload'
      as='style'
      onload='this.rel="stylesheet"'
    />
    <link
      href={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}
      rel='preload'
      as='script'
    />
    <script is:inline>
      partytown = {
        forward: ['dataLayer.push'],
      }
    </script>
    <script type='text/partytown' define:vars={{ googleAnalyticsId, isDev }}>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', googleAnalyticsId, {
        debug_mode: isDev,
      })
    </script>
  </head>
  <body class='h-full'>
    <TheHeader>
      <slot name='header' />
    </TheHeader>
    <slot />
    <TheFooter>
      <slot name='footer' />
    </TheFooter>
    <script
      type='application/ld+json'
      is:inline
      set:html={JSON.stringify(schema)}
    />
    <script
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}
      type='text/partytown'
      is:inline></script>
  </body>
</html>
